html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

.navbar-data01 {
  
    background-color: whitesmoke;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 70px;
    z-index: 9999999;
}

#heading1 {
    margin-top: 100px;
}